.git
.github
.vscode
.idea

docs
test

frontend/node_modules
frontend/dist
frontend/playwright-report
frontend/test-results

node_modules
tmp
temp
logs
uploads
audio

*.log
*.md
lambda.py

config.toml
internal/frontend/dist/*
!internal/frontend/dist/.gitkeep
